version: 2.1
executors:
  ubuntu:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: << parameters.docker_layer_caching >>
    working_directory: ~/project
    parameters:
      docker_layer_caching:
        default: true
        type: boolean

commands:
  docker_login:
    description: Login to Dockerhub
    steps:
      - run:
          name: Login to dockerhub
          command: echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USER} --password-stdin

jobs:
  build_docker_image:
    working_directory: ~/project
    parameters:
      dockerhub_organization:
        default: railsonservices
        type: string
    executor:
      name: ubuntu
    parallelism: 2
    steps:
      - checkout
      - docker_login
      - run:
          name: Setup environment variables
          command: |
            MODULES=()
            for d in *; do
              if [ -d "${d}" ] && [ -f "${d}/Makefile" ]; then
                MODULES+=("${d}")
              fi
            done
            # split the MODULES to build in parallel
            echo "export MODULES=($(echo ${MODULES[@]} | xargs -n 1 echo | circleci tests split --split-by=timings))" >> $BASH_ENV
      - run:
          name: Build
          command: |
            echo "Building MODULES: ${MODULES[@]}"
            make build MODULES=${MODULES[@]} DOCKER_REPO=<< parameters.dockerhub_organization >>
      - run:
          name: Publish
          command: |
            echo "Publishing MODULES: ${MODULES[@]}"
            make publish MODULES=${MODULES[@]} DOCKER_REPO=<< parameters.dockerhub_organization >>

            # if the branch is master, also push with latest
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              make publish-latest MODULES=${MODULES[@]} DOCKER_REPO=<< parameters.dockerhub_organization >>
            fi
workflows:
  build:
    jobs:
      - build_docker_image
