version: 2.1
executors:
  ubuntu:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: << parameters.docker_layer_caching >>
    working_directory: ~/project
    parameters:
      docker_layer_caching:
        default: true
        type: boolean

commands:
  docker_login:
    description: Login to Dockerhub
    steps:
      - run:
          name: Login to dockerhub
          command: echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USER} --password-stdin

jobs:
  build_docker_image:
    working_directory: ~/project
    parameters:
      dockerhub_organization:
        default: railsonservices
        type: string
    executor:
      name: ubuntu
    parallelism: 2
    environment:
      DOCKER_BUILDKIT: "1"
    steps:
      - checkout
      - docker_login
      - run:
          name: Setup environment variables
          command: |
            echo "export DOCKER_TAG=${CIRCLE_SHA1:0:7}" >> $BASH_ENV
            PROJECTS=()
            for d in *; do
              if [ -d "${d}" ] && [ -f "${d}/Dockerfile" ]; then
                PROJECTS+=("${d}")
              fi
            done
            PROJECTS=(cli)
            # split the projects to build in parallel
            echo "export PROJECTS=($(echo ${PROJECTS[@]} | xargs -n 1 echo | circleci tests split --split-by=timings))" >> $BASH_ENV
      - run:
          name: Build docker image
          command: |
            echo "Docker Tag: ${DOCKER_TAG}"
            echo "Projects: ${PROJECTS[@]}"
            parallel --ungroup "docker build -t railsonservices/{}:${DOCKER_TAG} {}" ::: "${PROJECTS[@]}"
          no_output_timeout: 30m
      - run:
          name: Push docker 
          command: |
            parallel --ungroup "docker push << parameters.dockerhub_organization >>/{}:${DOCKER_TAG}" ::: "${PROJECTS[@]}"
            # if the branch is master, also push with latest
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              parallel "docker tag << parameters.dockerhub_organization >>/{}:${DOCKER_TAG} << parameters.dockerhub_organization >>/{}:latest" ::: "${PROJECTS[@]}"
              parallel "docker push << parameters.dockerhub_organization >>/{}:latest" ::: "${PROJECTS[@]}"
            fi
workflows:
  build:
    jobs:
      - build_docker_image

  # build_cli_only:
  #   jobs:
  #     - build_docker_image:
  #         filters:
  #           branches:
  #             only: cli
