version: 2.1
executors:
  ubuntu:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: << parameters.docker_layer_caching >>
    working_directory: ~/project
    parameters:
      docker_layer_caching:
        default: true
        type: boolean

commands:
  docker_login:
    description: Login to Dockerhub
    steps:
      - run:
          name: Login to dockerhub
          command: echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USER} --password-stdin

jobs:
  build_docker_image:
    working_directory: ~/project
    parameters:
      dockerhub_organization:
        default: railsonservices
        type: string
    executor:
      name: ubuntu
      docker_layer_caching: false
    steps:
      - checkout
      - docker_login
      #     echo "export PROJECTS=(fluentd sftp cli kafka-connect)" >> $BASH_ENV
      - run:
          name: Setup environment variables
          command: |
            echo "export DOCKER_TAG=${CIRCLE_SHA1:0:7}" >> $BASH_ENV
            echo "export PROJECTS=(sftp cli)" >> $BASH_ENV
      - run:
          name: Build docker image
          command: |
            echo "Docker Tag: ${DOCKER_TAG}"
            echo "Projects: ${PROJECTS}"
            parallel "docker build -t << parameters.dockerhub_organization >>/{}:${DOCKER_TAG} {}" ::: "${PROJECTS[@]}"
          no_output_timeout: 30m
      - run:
          name: Push docker 
          command: |
            parallel "docker push << parameters.dockerhub_organization >>/{}:${DOCKER_TAG}" ::: "${PROJECTS[@]}"
            # if the branch is master, also push with latest
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              parallel "docker tag << parameters.dockerhub_organization >>/{}:${DOCKER_TAG} << parameters.dockerhub_organization >>/{}:latest" ::: "${PROJECTS[@]}"
              parallel "docker push << parameters.dockerhub_organization >>/{}:latest" ::: "${PROJECTS[@]}"
            fi
workflows:
  build:
    jobs:
      - build_docker_image

  build_cli_only:
    jobs:
      - build_docker_image:
          filters:
            branches:
              only: cli
